body
{
    background-image: url(../../images/1612802097_17-p-nezhno-goluboi-fon-dlya-fotoshopa-17.jpg);
}
.shadow
{
    background: lime;
    box-shadow: 2 2 5px gray(1,1,1,2);
    padding: 5px;
}
dt
{
    color: green;
}
.synt
{
    background-color: gold;
}