body
{
    background-image: url(../../images/1612802097_17-p-nezhno-goluboi-fon-dlya-fotoshopa-17.jpg);
    counter-reset: heading;
}
.synt
{
    background-color: gold;
    width: 1000px;
}
h4:before
{
    counter-increment: heading;
    content: "Глава" counter(heading) ". ";
}
dt
{
    color: green;
}