body {
    background-image: url(../../images/1612802097_17-p-nezhno-goluboi-fon-dlya-fotoshopa-17.jpg);
}

dt {
    color: green;
}

.synt {
    background-color: gold;
    width: 1000px;
}

.example {
    border: dashed 1px yellowgreen;
    background: olive;
    font-family: "Courier New", Courier, monospace; 
    padding: 7px; 
    margin: 0 0 1em; 
}