body {
    background-image: url(../../images/1612802097_17-p-nezhno-goluboi-fon-dlya-fotoshopa-17.jpg);
}

.synt {
    background-color: gold;
    width: 1000px;
}

img {
    border: 3px solid blue;
}

.rend {
    image-rendering: optimizeQuality;
}

dt {
    color: green;
}