body {
    background-image: url(../../images/1612802097_17-p-nezhno-goluboi-fon-dlya-fotoshopa-17.jpg);
}

dt { 
    color: green;
}

.synt {
    background-color: gold;
    width: 1000px;
}

.maxw {
    max-width: 320px;
}