body {
    background-image: url(../../images/1612802097_17-p-nezhno-goluboi-fon-dlya-fotoshopa-17.jpg);
}

dt {
    color: green;
}

.synt {
    background-color: gold;
    width: 1000px;
}

.photo img {
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: 2px solid brown;
    background: gray;
}